.container-loader{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loadScreen{
    align-items: center;
    text-align: center;
}